# 第1章 Pandas基础

In [1]:
import pandas as pd
import numpy as np

### 0. 创建用于测试的数据集

In [2]:
series1 = pd.Series([3, -2, 15, 7], index=['a', 'b', 'c', 'd'], name = "hinker's 1st series")

In [3]:
dates = pd.date_range('2020-04-20',periods=6)
df1 = pd.DataFrame(np.random.randn(6,4),index=dates,columns=['a','b','c','d'])
print(df1)

                   a         b         c         d
2020-04-20 -0.305744 -0.307394  0.523992  1.341714
2020-04-21  1.361877 -1.296519 -0.985876 -0.815897
2020-04-22  0.308357  0.786940  0.844622 -0.957419
2020-04-23  0.832752 -1.281678  0.906188 -0.886912
2020-04-24  0.539652 -0.709313 -0.682467 -0.998308
2020-04-25 -0.151257  0.438635  0.686245 -0.677469

In [4]:
data = {"grammer":["Python","C","Java","GO","R","SQL","PHP","Python"],
       "score":[1,2,np.nan,4,5,6,2,10], "time":[20,15,5,4,5,78,6,-7]}

In [5]:
df2 = pd.DataFrame(data)
df2

  grammer  score  time
0  Python    1.0    20
1       C    2.0    15
2    Java    NaN     5
3      GO    4.0     4
4       R    5.0     5
5     SQL    6.0    78
6     PHP    2.0     6
7  Python   10.0    -7

In [6]:
data = {"grammer":["Python","C","Java","GO","R","SQL","PHP","Python"],
       "score":[1,2,np.nan,4,5,6,2,10]}

In [7]:
df3 = pd.DataFrame(data)
df3

  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4       R    5.0
5     SQL    6.0
6     PHP    2.0
7  Python   10.0

## 五、问题与练习

### 1. 问题

#### 【问题一】 Series和DataFrame有哪些常见属性和方法？

##### Pandas Series常用属性有：values, index, name, index.name

In [8]:
series1.describe

<bound method NDFrame.describe of a     3
b    -2
c    15
d     7
Name: hinker's 1st series, dtype: int64>

In [9]:
series1.values

array([ 3, -2, 15,  7], dtype=int64)

In [10]:
series1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
series1.name

"hinker's 1st series"

In [12]:
series1.index.name

In [13]:
series1.mean

<bound method Series.mean of a     3
b    -2
c    15
d     7
Name: hinker's 1st series, dtype: int64>

DataFrame常用的属性有：values, index, index.name, columns, columns.name

In [14]:
df1.values

array([[-0.3057444 , -0.30739416,  0.52399213,  1.34171422],
       [ 1.36187671, -1.29651879, -0.98587612, -0.81589658],
       [ 0.30835745,  0.78694036,  0.84462152, -0.95741852],
       [ 0.83275169, -1.28167774,  0.90618785, -0.88691182],
       [ 0.53965214, -0.70931254, -0.68246738, -0.99830754],
       [-0.15125703,  0.43863512,  0.68624464, -0.67746922]])

In [15]:
df1.index

DatetimeIndex(['2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
               '2020-04-24', '2020-04-25'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df1.index.name

In [17]:
df1.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [18]:
df1.columns.name

#### 【问题二】 value_counts会统计缺失值吗？

答：value_counts不会统计缺失值

In [19]:
df3['grammer'].value_counts()

Python    2
PHP       1
Java      1
R         1
SQL       1
C         1
GO        1
Name: grammer, dtype: int64

In [20]:
df3['score'].value_counts()

2.0     2
10.0    1
6.0     1
5.0     1
4.0     1
1.0     1
Name: score, dtype: int64

#### 【问题三】 与idxmax和nlargest功能相反的是哪两组函数？

**idxmin()和idxmax()**
- idxmin()最小项的索引位置
- idxmax()最大项的索引位置

In [21]:
series1

a     3
b    -2
c    15
d     7
Name: hinker's 1st series, dtype: int64

In [22]:
series1.idxmax()

'c'

In [23]:
series1.idxmin()

'b'

#### 【问题四】 在常用函数一节中，由于一些函数的功能比较简单，因此没有列入，现在将它们列在下面，请分别说明它们的用途并尝试使用。

sum/mean/median/mad/min/max/abs/std/var/quantile/cummax/cumsum/cumprod

In [24]:
df2['time'].sum() # 合计

126

In [25]:
df2['time'].mean() # 平均值

15.75

In [26]:
df2['time'].median() # 中位数

5.5

In [27]:
df2['time'].mad() # 根据均值计算平均绝对离差

16.625

In [28]:
df2['time'].min() # 最小值

-7

In [29]:
df2['time'].max() # 最大值

78

In [30]:
df2['time'].abs() # 绝对值

0    20
1    15
2     5
3     4
4     5
5    78
6     6
7     7
Name: time, dtype: int64

In [31]:
df2['time'].std() # 标准差

26.391286440793294

In [32]:
df2['time'].var() # 方差

696.5

In [33]:
df2['time'].quantile() #四分位数

5.5

In [34]:
df2['time'].cummax() #样本值的累计最大值

0    20
1    20
2    20
3    20
4    20
5    78
6    78
7    78
Name: time, dtype: int64

In [35]:
df2['time'].cummin() #样本值的累计最小值

0    20
1    15
2     5
3     4
4     4
5     4
6     4
7    -7
Name: time, dtype: int64

In [36]:
df2['time'].cumsum() #累计

0     20
1     35
2     40
3     44
4     49
5    127
6    133
7    126
Name: time, dtype: int64

In [37]:
df2['time'].cumprod() # 样本值的累计积

0          20
1         300
2        1500
3        6000
4       30000
5     2340000
6    14040000
7   -98280000
Name: time, dtype: int64

#### 【问题五】 df.mean(axis=1)是什么意思？它与df.mean()的结果一样吗？第一问提到的函数也有axis参数吗？怎么使用？

答：df.mean(axis=1), 是按行计算均值，与df.mean()不同，df.mean()是按列计算均值。

In [38]:
df2.mean()

score     4.285714
time     15.750000
dtype: float64

In [39]:
df2.mean(axis=1)

0    10.5
1     8.5
2     5.0
3     4.0
4     5.0
5    42.0
6     4.0
7     1.5
dtype: float64