# 第2章 索引

索引比较难，也比较重要，没有时间看，白嫖一下。

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('data/table.csv',index_col='ID')
df.head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 1101 to 2405
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   School   35 non-null     object
 1   Class    35 non-null     object
 2   Gender   35 non-null     object
 3   Address  35 non-null     object
 4   Height   35 non-null     int64
 5   Weight   35 non-null     int64
 6   Math     35 non-null     float64
 7   Physics  35 non-null     object
dtypes: float64(1), int64(2), object(5)
memory usage: 2.5+ KB

In [3]:
df

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+
1201    S_1   C_2      M  street_5     188      68  97.0      A-
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1204    S_1   C_2      F  street_5     162      63  33.8       B
1205    S_1   C_2      F  street_6     167      63  68.4      B-
1301    S_1   C_3      M  street_4     161      68  31.5      B+
1302    S_1   C_3      F  street_1     175      57  87.7      A-
1303    S_1   C_3      M  street_7     188      82  49.7       B
1304    S_1   C_3      M  street_2     195      70  85.2       A
1305    S_1   C_3      F  street_5     187      69  61.7      B-
2101    S_2   C_1      M  street_7     174      84  83.3       C
2102    S_2   C_1      F  street_6     161      61  50.6      B+
2103    S_2   C_1      M  street_4     157      61  52.5      B-
2104    S_2   C_1      F  street_5     159      97  72.2      B+
2105    S_2   C_1      M  street_4     170      81  34.2       A
2201    S_2   C_2      M  street_5     193     100  39.1       B
2202    S_2   C_2      F  street_7     194      77  68.5      B+
2203    S_2   C_2      M  street_4     155      91  73.8      A+
2204    S_2   C_2      M  street_1     175      74  47.2      B-
2205    S_2   C_2      F  street_7     183      76  85.4       B
2301    S_2   C_3      F  street_4     157      78  72.3      B+
2302    S_2   C_3      M  street_5     171      88  32.7       A
2303    S_2   C_3      F  street_7     190      99  65.9       C
2304    S_2   C_3      F  street_6     164      81  95.5      A-
2305    S_2   C_3      M  street_4     187      73  48.9       B
2401    S_2   C_4      F  street_2     192      62  45.3       A
2402    S_2   C_4      M  street_7     166      82  48.7       B
2403    S_2   C_4      F  street_6     158      60  59.7      B+
2404    S_2   C_4      F  street_2     160      84  67.7       B
2405    S_2   C_4      F  street_6     193      54  47.6       B

## 七、问题与练习

### 1. 问题

#### 【问题一】 如何更改列或行的顺序？如何交换奇偶行（列）的顺序？

In [4]:
df.columns

Index(['School', 'Class', 'Gender', 'Address', 'Height', 'Weight', 'Math',
       'Physics'],
      dtype='object')

改变'Height', 'Weight'顺序

In [5]:
column_order = ['School', 'Class', 'Gender',
                'Address', 'Weight', 'Height', 'Math', 'Physics']

In [6]:
df = df[column_order]

In [7]:
df.head()

     School Class Gender   Address  Weight  Height  Math Physics
ID
1101    S_1   C_1      M  street_1      63     173  34.0      A+
1102    S_1   C_1      F  street_2      73     192  32.5      B+
1103    S_1   C_1      M  street_2      82     186  87.2      B+
1104    S_1   C_1      F  street_2      81     167  80.4      B-
1105    S_1   C_1      F  street_4      64     159  84.8      B+

### 2. 练习
#### 【练习一】 现有一份关于UFO的数据集，请解决下列问题：

In [8]:
pd.read_csv('data/UFO.csv').head()

           datetime     shape  duration (seconds)   latitude   longitude
0  10/10/1949 20:30  cylinder              2700.0  29.883056  -97.941111
1  10/10/1949 21:00     light              7200.0  29.384210  -98.581082
2  10/10/1955 17:00    circle                20.0  53.200000   -2.916667
3  10/10/1956 21:00    circle                20.0  28.978333  -96.645833
4  10/10/1960 20:00     light               900.0  21.418056 -157.803611

In [9]:
df2 = pd.read_csv('data/UFO.csv')

In [10]:
df2.rename(columns={'duration (seconds)':'duration'},inplace=True)
df2['duration'].astype('float')
df2.head()

           datetime     shape  duration   latitude   longitude
0  10/10/1949 20:30  cylinder    2700.0  29.883056  -97.941111
1  10/10/1949 21:00     light    7200.0  29.384210  -98.581082
2  10/10/1955 17:00    circle      20.0  53.200000   -2.916667
3  10/10/1956 21:00    circle      20.0  28.978333  -96.645833
4  10/10/1960 20:00     light     900.0  21.418056 -157.803611

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   80332 non-null  object
 1   shape      78400 non-null  object
 2   duration   80332 non-null  float64
 3   latitude   80332 non-null  float64
 4   longitude  80332 non-null  float64
dtypes: float64(3), object(2)
memory usage: 3.1+ MB

#### （a）在所有被观测时间超过60s的时间中，哪个形状最多？

In [12]:
df2.query('duration > 60')['shape'].value_counts().index[0]

'light'

#### （b）对经纬度进行划分：-180°至180°以30°为一个划分，-90°至90°以18°为一个划分，请问哪个区域中报告的UFO事件数量最多？

In [13]:
bins_long = np.linspace(-180,180,13).tolist()
bins_la = np.linspace(-90,90,11).tolist()
cuts_long = pd.cut(df2['longitude'],bins=bins_long)
df2['cuts_long'] = cuts_long
cuts_la = pd.cut(df2['latitude'],bins=bins_la)
df2['cuts_la'] = cuts_la
df2.head()

,datetime,shape,duration,latitude,longitude,cuts_long,cuts_la
0,10/10/1949 20:30,cylinder,2700.0,29.883056,-97.941111,"(-120.0, -90.0]","(18.0, 36.0]"
1,10/10/1949 21:00,light,7200.0,29.384210,-98.581082,"(-120.0, -90.0]","(18.0, 36.0]"
2,10/10/1955 17:00,circle,20.0,53.200000,-2.916667,"(-30.0, 0.0]","(36.0, 54.0]"
3,10/10/1956 21:00,circle,20.0,28.978333,-96.645833,"(-120.0, -90.0]","(18.0, 36.0]"
4,10/10/1960 20:00,light,900.0,21.418056,-157.803611,"(-180.0, -150.0]","(18.0, 36.0]"

In [14]:
df2.set_index(['cuts_long','cuts_la']).index.value_counts().head()

((-90.0, -60.0], (36.0, 54.0])      27891
((-120.0, -90.0], (18.0, 36.0])     14280
((-120.0, -90.0], (36.0, 54.0])     11960
((-90.0, -60.0], (18.0, 36.0])       9923
((-150.0, -120.0], (36.0, 54.0])     9658
dtype: int64

#### 【练习二】 现有一份关于口袋妖怪的数据集，请解决下列问题：

In [15]:
pd.read_csv('data/Pokemon.csv').head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### （a）双属性的Pokemon占总体比例的多少？

In [16]:
df = pd.read_csv('data/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [17]:
df['Type 2'].count()/df.shape[0]

0.5175

#### （b）在所有种族值（Total）不小于580的Pokemon中，非神兽（Legendary=False）的比例为多少？

In [18]:
df.query('Total >= 580')['Legendary'].value_counts(normalize=True)

True     0.575221
False    0.424779
Name: Legendary, dtype: float64

#### （c）在第一属性为格斗系（Fighting）的Pokemon中，物攻排名前三高的是哪些？

In [19]:
df[df['Type 1']=='Fighting'].sort_values(by='Attack',ascending=False).iloc[:3]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
498,448,LucarioMega Lucario,Fighting,Steel,625,70,145,88,140,70,112,4,False
594,534,Conkeldurr,Fighting,NaN,505,105,140,95,55,65,45,5,False
74,68,Machamp,Fighting,NaN,505,90,130,80,65,85,55,1,False

#### （d）请问六项种族指标（HP、物攻、特攻、物防、特防、速度）极差的均值最大的是哪个属性（只考虑第一属性，且均值是对属性而言）？

In [20]:
df['range'] = df.iloc[:,5:11].max(axis=1)-df.iloc[:,5:11].min(axis=1)
attribute = df[['Type 1','range']].set_index('Type 1')
max_range = 0
result = ''
for i in attribute.index.unique():
    temp = attribute.loc[i,:].mean()
    if temp.values[0] > max_range:
        max_range = temp.values[0]
        result = i
result

'Steel'

#### （e）哪个属性（只考虑第一属性）的神兽比例最高？该属性神兽的种族值也是最高的吗？

In [21]:
df.query('Legendary == True')['Type 1'].value_counts(normalize=True).index[0]

'Psychic'

In [22]:
attribute = df.query('Legendary == True')[['Type 1','Total']].set_index('Type 1')
max_value = 0
result = ''
for i in attribute.index.unique()[:-1]:
    temp = attribute.loc[i,:].mean()
    if temp[0] > max_value:
        max_value = temp[0]
        result = i
result

'Normal'